---
---
<!doctype html>
<html lang="ja-JP">

<head>
  <meta name="robots" content="noindex">
  <meta charset="utf-8">
  <title>説明書</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+JP:wght@400;700&display=swap">

</head>

<body>
  <main>
    <!-- <h1>のびハザをウディタで再現しています。(制作途中)</h1><br>
        <section>
          Plicyの動作が不安定ので、Windowsの方はダウンロードして直接プレイすることをお勧めします。<br>
          ダウンロード:<a
            href="https://github.com/tomodesuyo/nobihaza_udhita/releases/latest">https://github.com/tomodesuyo/nobihaza_udhita/releases/latest</a><br>
        </section>-->

    <section>
      {% capture credit %}
      {% include credit.md %}
      {% endcapture %}
      {{ credit | markdownify }}
    </section>


    <section>
      {% capture disclaimer %}
      {% include disclaimer.md %}
      {% endcapture %}
      {{ disclaimer | markdownify }}
    </section>

    <section class="update-log">
      <h2>更新履歴</h2>
      <details>
        <summary>2025年の更新履歴</summary>
        {% capture update_2025 %}
        {% include update/2025.md %}
        {% endcapture %}
        {{ update_2025 | markdownify }}


      </details>
      <details>
        <summary>2023年の更新履歴</summary>
        {% capture update_2023 %}
        {% include update/2023.md %}
        {% endcapture %}
        {{ update_2023 | markdownify }}
      </details>
      <details>
        <summary>2022年の更新履歴</summary>
        {% capture update_2022 %}
        {% include update/2022.md %}
        {% endcapture %}
        {{ update_2022 | markdownify }}
      </details>

      <details>
        <summary>2021年の更新履歴</summary>
        {% capture update_2021 %}
        {% include update/2021.md %}
        {% endcapture %}
        {{ update_2021 | markdownify }}
      </details>

      <details>
        <summary>2020年の更新履歴</summary>
        {% capture update_2020 %}
        {% include update/2020.md %}
        {% endcapture %}
        {{ update_2020 | markdownify }}
      </details>


    </section>
  </main>
</body>