---
layout: credit
title: 説明書
---
  <main>
    <!-- <h1>のびハザをウディタで再現しています。(制作途中)</h1><br>
        <section>
          Plicyの動作が不安定ので、Windowsの方はダウンロードして直接プレイすることをお勧めします。<br>
          ダウンロード:<a
            href="https://github.com/tomodesuyo/nobihaza_udhita/releases/latest">https://github.com/tomodesuyo/nobihaza_udhita/releases/latest</a><br>
        </section>-->

    <section>
      {% capture credit %}
      {% include credit.md %}
      {% endcapture %}
      {{ credit | markdownify }}
    </section>


    <section>
      {% capture disclaimer %}
      {% include disclaimer.md %}
      {% endcapture %}
      {{ disclaimer | markdownify }}
    </section>

    <section class="update-log">
      <h2>更新履歴</h2>
      {% assign years = "2025,2024,2023,2022,2021,2020" | split: "," %}
      {% for y in years %}
      <details>
        <summary>{{ y }}年の更新履歴</summary>
        {% capture c %}
        {% include update/{{ y }}.md %}
        {% endcapture %}
        {{ c | markdownify }}
      </details>
      {% endfor %}
    </section>
  </main>